.layout-social {
    font-size: 2em;
}

.header{
    background-image: url("../images/background-img/h_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.headertxt h1{
    color: white;
    padding-top: 45px;
  }
  .headertxt p{
    color: white;
    font-size: 10px;
  }


#designtxt{
  display: none;
}
#developtxt{
  display: none;
}
#producttxt{
  display: none;
}